{% extends 'themes/base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h3>Add a video to <b>{{ theme.title }}</b></h3>

    <form method="POST">
    {% csrf_token %}
    {% load widget_tweaks %}

    {% for field in form %}
    <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">
        {{ field.errors}}
        {{ field.label_tag}}
        {% render_field field class="form-control" %}
    </div>
    {% endfor %}
    </form>

    <p>OR</p>

    <form>
    {% for field in search_form %}
    <div class="form-group">
        {{ field.errors}}
        {{ field.label_tag}}
        {% render_field field class="form-control" %}
    </div>
    {% endfor %}
    </form>

    <button type="submit" class="btn btn-primary">add</button>

{% else %}
<h3>Please <a href="{% url 'login' %}">log in</a> first!</h3>
{% endif %}

<div id="results">

</div>

{% endblock %}