{% extends 'themes/base.html' %}
{% block content %}

<h3>Add a video to <b>{{ theme.title }}</b></h3>

    <form method="POST" id="addvideo">
        {% csrf_token %}
        {% load widget_tweaks %}

        {% for field in form %}
        <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">
            {{ field.errors}}
            {{ field.label_tag}}
            {% render_field field class="form-control" %}
        </div>
        {% endfor %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6LdF6eQZAAAAAHtsbEXysLTb2AhUcZV3NOelhQgR"></div>
        <button type="submit" class="btn btn-primary">add</button>
    </form>

    <p>OR</p>

    <form>
        {% for field in search_form %}
        <div class="form-group">
            {{ field.errors}}
            {{ field.label_tag}}
            {% render_field field class="form-control" %}
        </div>
        {% endfor %}
    </form>

    <div id="results"></div>

    <script>

    let delayTimer;

    $('#id_search_term').keyup(function() {
        clearTimeout(delayTimer);
        $('#results').text('Looking...');
        delayTimer = setTimeout(function() {
            let text = $('#id_search_term').val();
            $.ajax({
                url: '/video/search',
                data: {
                    'search_term': text
                },
                dataType: 'json',
                success: function(data) {
                    let results = '';
                    $('#results').text('');
                    results += '<div class="row">';
                    data['items'].forEach(function(video) {
                        results += '<div class="col-md-4 mt-3"><div class="card mb-4 shadow-sm">';
                        results += '<iframe width="100%" height="100%" src="https://www.youtube.com/embed/' 
                        + video['id']['videoId'] 
                        + '" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
                        results += '<div class="card-body"><p class="card-text">' + video['snippet']['title'] + '</p>';
                        results += '<a href=# class="btn btn-primary" onclick="addVideo(\'' + video['id']['videoId'] + '\')">Add to Theme</a>';
                        results += '</div></div></div>';
                    });
                    results += '</div>';
                    $('#results').append(results);
                }
            });
        }, 1000)
    });

    function addVideo(video_id) {
        $('#id_url').val('https://www.youtube.com/watch?v=' + video_id);
        $('#addvideo').submit();
    }
    </script>

{% endblock %}