{% extends 'themes/base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h3>Edit Theme</h3>

<small>make any changes to the title or description and save the changes whenever you're ready</small>

<form method="POST">
    {% csrf_token %}
    {% load widget_tweaks %}
    {% for field in form %}
        <div class="form-group {% if field.errors %} alert alert-danger {% endif %}">
            {{ field.errors}}
            {{ field.label_tag}}
            {% render_field field class="form-control" %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">save changes</button>
</form>
{% else %}
<h3>Please <a href="{% url 'login' %}">log in</a> first!</h3>
{% endif %}

<a href="{% url 'delete_theme' theme.id %}" class="btn btn-danger">delete theme</a>

{% endblock %}