@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
  font-family: 'Lora', sans-serif;
}

.jumbotron {
  background-color: #EBF4FA;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 51rem;
}
