@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
  font-family: 'Lora', sans-serif;
}

nav {
  max-height: 2.5rem;
}

.jumbotron {
  border-radius: 6px;
}

body {
  background-color: rgb(234, 234, 234);
}

.container {
  margin-top: 4vh;
}

#themeinfo {
  padding: 15px;
  border: 1px solid rgba(128, 128, 128, 0.346);
  border-radius: 6px;
  box-shadow: 1px 2px rgba(219, 219, 219, 0.552);
  background-color: #ffffff;
  margin-bottom: 10px;
}

#usersdashboard {
  padding: 15px;
  border: 1px solid rgba(128, 128, 128, 0.346);
  border-radius: 6px;
  box-shadow: 1px 2px rgba(219, 219, 219, 0.552);
  background-color: #ffffff;
}

#themerow, #recentthemesbox {
  margin-top: 5px;
  padding: 15px 30px 15px 30px;
  border: 1px solid rgba(128, 128, 128, 0.346);
  border-radius: 6px;
  box-shadow: 1px 2px rgba(219, 219, 219, 0.552);
  background-color: #ffffff;
}

iframe, #videobox {
  border-radius: 6px;
}

#login, #signup, #createthemeform {
  padding: 40px 20px 40px 20px;
  border-radius: 6px;
  color: #141414;
  max-width: 420px;
  background-color: rgba(0, 0, 0, 0.055);
}